### Java ###
*.class
*.jar
*.war
*.ear
target/
bin/
out/

### Logs ###
*.log

### IntelliJ ###
.idea/
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Sistema ###
.DS_Store
Thumbs.db
# Ocultar la configuración de la API
src/calculos/Configuracion.java